{
    "discord_token": "",
    "status_message": "",
    "server_id": "",
    "meme_channel_id": "",
    "upvote_emoji": "",
    "downote_emoji": "",
    "prefix": "",
    "upvotes_for_pin": "",
    "delete_after_days": "",
    "owner_id": "",
    "delete_emoji_name": "",
    "latest_gmo_news_number": "",
    "news_channel_id": "",
    "gmo_role_id": ""
}