{
    "authorID": [
        [
            "timestamp",
            "message"
        ],
        [
            "timestamp2",
            "message2"
        ],
        [
            "timestamp3",
            "message3"
        ]
    ],
    "authorID2": [
        [
            "timestamp",
            "message"
        ],
        [
            "timestamp2",
            "message2"
        ],
        [
            "timestamp3",
            "message3"
        ]
    ]
}